{:source-paths ["src"]
 :dependencies [[binaryage/devtools "0.9.11"]
                [nrepl "0.6.0"]
                [reagent "0.9.0-rc3"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [{{project-ns}}.core]}}
                      :devtools   {:after-load {{project-ns}}.core/mount-root}}}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
